/*
Color Theme
blue: #0c5dc5
blue-dark: #043069;
green:  #13803e;
green-dark. #0a4521
*/

/******************
 * ROOT PROPRTIES *
 ******************/

:root {
  --color_main: #13803e;
  --color_accent: #043069;

}

body,
html {
  height: 100%;
  margin: 0;
}

body,
html,
input,
textarea {
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
}

/*****************************
 * BASIC STYLING FOR CLASSES *
 *****************************/

input.button {
  background-color: var(--color_main);
  color: #FFF;
  width: 30%;
  padding: 2% 0% 2% 0%;
  margin: 1% 35% 1% 35%;
  border-radius: 5px;
  border-style: none;
}

input.text_input,
textarea.text_input {
  width: 74%;
  padding: 3%;
  margin: 0% 10% 5% 10%;
  border: hidden;
  background-color: #EEE;
}

/*******************
 * OVERLAY STARTUP *
 *******************/
/*Gray overlay background*/
#overlay_bg {
  z-index: 2001;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.5;
  visibility: hidden;
}

/*Container for overlay content*/
#overlay_content {
  z-index: 2002;
  position: fixed;
  width: 70%;
  overflow-y: auto;
  margin: 5% 15% 5% 15%;
  background-color: #FFF;
  text-align: center;
  visibility: hidden;
}

/*Container for spacing overlay content*/
#overlay_content div {
  margin: 2% 10% 5% 10%;
}

/*Open Scout Map Title*/
#overlay_content h1 {
  letter-spacing: -0.075em;
  color: var(--color_main);
  font-variant: small-caps;
  text-transform: capitalize;
}

/*List for icon explaining*/
#overlay_content ul {
  width: 100%;
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
  text-align: left;
  line-height: 200%;
}

/*FA icons*/
#overlay_content i {
  color: var(--color_main);
}

/*Button for escaping from startup overlay */
#overlay_content input.button {
  display: block;
  width: 35%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/***************
 * MAP STYLING *
 ***************/
#map {
  z-index: 0;
  width: 100%;
  height: 100%;
}

/*******************
 * SIDE BAR COLORS *
 *******************/
.sidebar-header {
  background-color: var(--color_main);
}

#sidebar {
  background-color: #043069;
}

.sidebar-tabs>li.active,
.sidebar-tabs>ul>li.active {
  background-color: var(--color_main);
}

/****************
 * HOMEMENU TAB *
 ****************/
 #home ul {
  list-style: none;
  list-style-position: outside;
  text-align: left;
 }

 #campside_img {
  width: 50%;
  margin: 0 25% 0 25%;
}

.tag_link {
  color: #043069;
  font-style: italic;
}

.tag_link:hover {
  font-weight: 600;
}

/**************
 * SEARCH TAB *
 **************/
p.searchResult {
  margin-left: 2%;
  transition-duration: 0.5s;
}

p.searchResult:hover {
  background-color: var(--color_main);
  color: #FFF;
  padding: 2%;
  margin-left: 4%;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-weight: bold;

}

/**************
 * Export TAB *
 **************/
  #export label.chkbx {
  display: block;
}

/**************
 * ACCOUNT TAB *
 ***************/
#account input.button {
  min-width: 100px;
}

/**************
 * SCOTTY TAB *
 **************/
#scotty iframe {
  width: 100%;
  margin-top: 2%;
  height: 350px;
}

/************
 * HELP TAB *
 ************/

#help figure {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

#help img {
  width: 50%;
  margin: 0 25% 0 25%;
}

#help figcaption {
  text-align: center;
}


/***************
 * CONTACT TAB *
 ***************/


/************
 * ABOUT TAB *
 *************/
#about a {
  text-decoration: none;
  color: var(--color_main);
}

#about a:hover {
  color: var(--color_accent);
}

/***************
 * SETTINGS TAB *
 ***************/
.wheel {
  margin: auto;
  width: 200px;
}

input.button {
  margin-top: 5%;
}

/****************
 * MEDIA QUERYS *
 ****************/
/*Media Query for narrow screens*/
@media (max-width: 500px) {
  #overlay_content {
    height: 90%;
    overflow-y: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #overlay_content li {
    padding: 5% 0 5% 0;
    text-align: center;
  }

  #overlay_content li>i {
    display: block;
    text-align: center;
  }

}

/*Autorotate Screen

@media (orientation: landscape) {
  #m_ls_warn {
  visibility: visible !important;
  }
}
*/

/*Mobile rotation(landscape) warning*/
/*
#m_ls_warn {
  visibility: hidden;
  z-index: 5000;
  position:  fixed; 
  float: left;  
  height: 100%;
  width: 100%;
  font-size: 30px;
  text-align: center;
  background-color: var(--color_main); 
  color: #FFF;
  padding-top:15%;
}

/*Train & Contribute section- reference link & contact form hint*/
/*
span.hint {
  font-size: 0.65em;
}

/*Train & Contribute section - reference link & contact form hint*/
/*
.hint a  {
  text-decoration: none;
  color: var(--color_main);
}
/*Train & Contribute section - reference link & contact form hint*/
/*/*
.hint a:hover  {
  color: var(--color_accent);
}


/*Autorotate Screen

@media (orientation: landscape) {
  #m_ls_warn {
  visibility: visible !important;
  }
}
*/
/*

LEGACY CODE - RENEWED CODE ABOVE
p.searchResult {
  padding-top: 1em;
  padding-bottom: 1em;
}

p.searchResult:hover {
  background-color: green;
  padding-left: 2em;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold; 
  animation-duration: 0.2s;
  animation-name: search_highlight;
}

@keyframes search_highlight {
  from {padding-left: 0em;}
  to {padding-left: 2em;}
}
*/