
@font-face {
  font-family:"PatrickHand";
  src: url("PatrickHand-Regular.ttf") format("truetype");
}

body, html {
	width: 100%;
	height: 100%;
    margin:0;
    padding:0;
    cursor: url("Pointer_Basic.svg"), pointer;
}

.content{
	width: 100%;
	height: 100%;
	position: absolute;


}
.column {
	width: 50%;
	height: 65%;
	float: left;
	z-index: 100;
}
.cloud {
	will-change: background-size, background-position, background-image;
	width: 80%;
	height: calc(20vh *0.65);
	margin-top: calc(13.3vh *0.65);
	background-image: url("Cloud_Smoke.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	animation: clouds_moving 2s ease-in-out infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
	font-size: 1.5em;
	display: flex;
  	align-items: center;
  	justify-content: center;
		  cursor: url("Pointer_Click.svg"), pointer;
  }
.label {
	font-family: PatrickHand;
  	font-size: calc(20vh *0.45);
	opacity: 0;
	visibility: hidden;	
}

.offset {
	margin-top: 0;
	height: calc(15vh *0.65);
	background-color: transparent !important;
	background-image: none;
	color: transparent;
	background-position: right;
	opacity: 0;
	cursor: url("Pointer_Basic.svg"), pointer;
}
.left > div.cloud {
	margin-right: 10%;
	margin-left: 10%;
	background-position: right;
}
.right > div.cloud {
	margin-left: 10%;
	background-position: left;
}
.left > .cloud.top { background-image: url("Cloud_OSM.svg"); }
.left > .cloud.middle { background-image: url("Cloud_Github.svg"); }
.left > .cloud.bottom { background-image: url("Cloud_Youtube.svg"); }

.right > .cloud.top { background-image: url("Cloud_Spotify.svg"); }
.right > .cloud.middle { background-image: url("Cloud_Instagram.svg"); }
.right > .cloud.bottom { background-image: url("Cloud_Twitter.svg"); }


.cloud:hover {
	background-image: url("Cloud_Smoke_Scale.svg") !important;
	background-size: auto 400%;
	background-position: left;	
	transition-duration: 0.5s;
	animation: clouds_moving  0;
}
.cloud:hover > .label {
	opacity: 1;
	visibility: visible;
	color: #223344;
	transition-duration: 0.7s;
	transform-origin: left;
}



.background {
	float: left;
	width: 100%;
	height: 100%;
}
#spacer {
	width: 100%;
	height: 65%;
}
#fire {
	height: 35%;
	width: 100%;
	position: absolute;
	background-image: url("campfire.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
#landscape {
	height: 35%;
	width: 100%;
	background-image: url("Landscape.svg");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: auto 90%;
}
.forrest {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("Forrest.svg");
	background-repeat: repeat-x;
}
.front {
	background-size: auto 60%;
	background-position: 20% 45%;
}

.center {
		background-size: auto 45%;
	background-position: 30% 60%;
}

.back {
	background-size: auto 30%;
	background-position: 40% 75%;
}


.animated-background {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}


@keyframes clouds_moving {
	0% {
    transform: skewX(5deg);
  }
  100% {
    transform: skewX(-5deg);
  }
}

@media screen and (max-width: 992px) {
	.label {
 		font-size: calc(20vh *0.2);
	}
	.cloud {
			animation: none;
	}
	#stars1, #stars2, #stars3 {
		animation: none;
	}
}
